.installed.cfg
*.py[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/

gaceir/__pycache__/
gaceir/*.py[cod]
gaceir/*$py.class

runs
models
archive
*.log
*.out
